@font-face {
    font-family: 'Caveat';
    src: url('./fonts/Caveat.ttf');
}

::-webkit-scrollbar-thumb {
    border-color: #0a66b2;
}
::-webkit-scrollbar-thumb {
    background: #001f58;
}

.sheet.journal-entry .pages-list .directory-item.active:first-of-type,
.sheet.journal-entry .pages-list .directory-item.active + :not(.active),
.sheet.journal-entry .pages-list .directory-item:not(.active) + .active,
.sheet.journal-entry .pages-list .directory-item.active:last-of-type {
    border-top: 1px solid #0a66b2;
}

.sheet.journal-entry .pages-list .directory-item.active:last-of-type {
    border-bottom: 1px solid #0a66b2;
}

.directory .directory-item.context,
.directory .directory-item.active {
  border-color: #0a66b2;
}

.directory .directory-item:is(.context, .active)::after {
    border: 1px solid #0a66b2;
}
.sheet.journal-entry .journal-sidebar {
    background: #081e3854;
}

.sheet.journal-entry .pages-list .directory-item {
    font-family: 'FixelText';
    font-weight: 600;
}


.dtd-sw-handout2 {
    border-radius: 10px;
    background-color: #394040;
    color: aliceblue;
    font-family: 'Caveat';
}

.dtd-sw-handout2 p {
    font-size: 2rem;
}

